*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', monospace;

}

body {
  background: url("img/map.png") no-repeat center center fixed;
    /* background-repeat: no-repeat; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

@keyframes starter {
  0% {
    transform: scaleX(0);
    /* transform: rotateY(0); */
  }
  100% {
    transform: scaleX(3.5);
  }
}
.headerBar{
  height: 105px;
  width: 100%;
  background: linear-gradient(to bottom, #fbb034 0%, #ffdd00 100%);
  box-shadow: 2px 4px 8px rgb(40, 39, 39);
}
.headerBar img{
  width: 305px;
  margin-left: 200px;
  transition: .5s;
  animation: slideLeft .5s ease-in-out;
}
.headerBar img:hover{
  cursor: pointer;
  transform: scale(1.1);
}



@keyframes slideLeft {
  0% {
    transform: translateX(-1500px);
  }
  100% {
    transform: translateX(0px);
  }
}
.wrapper, .wrapper2{
  backdrop-filter: blur(13px);
  width: 660px;
  height: 660px;
  background: rgb(10, 10, 10, 0);
  /* border-radius: 15px; */
  box-shadow: 8px 15px 10px rgba(0,0,0);
  /* animation-name: qnumani;
  animation-duration: 2s; */
  /* top: 23%; */
  /* margin-top: 50px; */
  margin:0 auto;
  border: 4px solid black;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: .4s;
  border-radius: 50%;
  border-top: 3px;
  border-bottom: 3px;
  animation: slideLeft .9s ease-in-out;
}
.wrapper2{
  width: 375px;
  height: 375px;
  backdrop-filter: blur(13px);

  background: rgb(10, 10, 10, 0);
  /* border-radius: 15px; */
  box-shadow: 8px 15px 10px rgba(0,0,0);

  margin:0 auto;
  border: 4px solid black;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: .4s;
  border-radius: 50%;
  border-top: 3px;
  border-bottom: 3px;
  animation: slideLeft .9s ease-in-out;
}

/* Pre-render the bigger shadow, but hide it */
.wrapper::after, .wrapper2::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  /* transition: opacity 0.3s ease-in-out; */
}

/* Transition to showing the bigger shadow on hover */
.wrapper:hover::after {
  opacity: 1;
}
.wrapper:hover{
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  
}
.wrapper .title{
  font-size: 30px;
  font-weight: 300;
  margin-top: 60px;
  padding-top: 100px;
  text-align: center;
  line-height: 100px;
  font-weight: bolder;
  color: black;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background-color: none;
  transition: margin-top 1s;
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 50px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 80%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.wrapper form .field input:focus,
form .field input:valid{
  border-color: black;
}


form .field input[type="submit"]{
  /* color: #fff; */
  border: 2px solid white;
  padding-left: 0;
  margin-top: -10px;
  font-size: 28px;
  font-weight: bolder;
  cursor: pointer;
  color:black;
  background: none;
  /* -webkit-backdrop-filter: blur(0px); */
  transition: 0.4s ease, color 1.2s;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
  /* color:black; */
  background-color: black;
}
form .field input[type="submit"]:hover{
  background-color: black;
  color: white;
}
form .signup-link{
  color: #fff9f9;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  transition: all 0.5s ease;
  color:black;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  /* text-decoration: underline; */
    color:black;

}
.signup-link{
  color:black;
  font-weight: bold;
  border: 1px solid black;
  width: 40%;
  padding: 10px;
  border-radius: 25px;
  margin: 0 auto;
  transition: .5s;
}
.signup-link:hover{
  background-color: white;

}
::placeholder{
  color: black;
}

